<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form method="post" action="/signup">
        <h1>Sign Up</h1>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="password">Re-enter Password:</label>
        <input type="password" id="password re" name="password re enter" required>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>
